<h1 class="heading">---> Websockets Chat <---</h1>
<p id="users" class="green"></p>
<div id="messages" class="box"></div>
<div class="box">
  <input type="text" id="chatbox" maxlength="1000" placeholder="Digite sua mensagem e pressione Enter">
</div>
