<h1 class="heading">WebChat</h1>
<p id="users"></p>
<div id="messages" class="box"></div>
<div class="box">
  <input type="text" id="chatbox" maxlength="1000" placeholder="Digite sua mensagem">
</div>
<button id="send">Enviar</button>
